<div class="container text-center">
  <%= render 'shared/mercahnt_navbar' %>
  <div class="row">
    <div class="col">
      <h1 class="main_headings"> All Coupons for <%= @merchant.name %></h1>
      <div id=>