<div class="container text-center">
  <%= render 'shared/merchant_navbar' %>
  <div class="row">
    <div class="col">
      <h1 class="headings"><%= @merchant.name %> Items</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ol>
        <div class="merchant_items" >
          <% @merchant.items.each do |item| %>
            <li>
              <h3>Item name: <%= item.name %></h3>
              <%= link_to item.name,  merchant_item_path(@merchant, item) %>
            </li>
          <%end%>
        </div>
      </ol>
    </div>
  </div>
</div>



