<h1> <%= @merchant.name %> Items </h1>

<ol></ol>
<% @merchant_items.each do |item| %>
  <h3><%= item.name %></h3>
  <li>
    Description: <%= item.description %>
    Price: <%= item.unit_price %>
    </li>
<% end %>
</ol>